@font-face {
    font-family: "ssr";
    src: url("https://res.cloudinary.com/blaze-video/raw/upload/v1703002885/Silkscreen-Regular_xerujn.woff2");
  }

  body {
    font: normal 35px ssr;
}

h3 {
    font-size: 31px;
}

body {background-color: red;}
  